*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;

}
/* body{
    background-color: aqua;
} */
form{
    box-shadow: 1px 0px 5px #00000062;
    width: 30%;
    height: 85vh;
    /* background-color: whitesmoke; */
    position: relative;
    border: none;
    margin: auto;
    border-radius: 1%;
    /* margin-top: 5%; */
}


form h3{
    text-transform: capitalize;
    margin-top: 8%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}

form a{
    text-decoration: none;
    margin-left: 3%;
    font-size: large;
    color: rgb(0, 38, 255);
}
form a:hover{
    color: #03929c;
}
form input{
    width: 90%;
    height: 7%;
    margin-left: 3%;
    border: 1px solid black ;
    transition: 0.3s linear;
}
form input::placeholder{
    font-family:monospace;
    position: absolute;
    left: 2px;
    top: 6px;
}
form input:focus {
    width: 95%;
    outline-color: #03929c;
}

form h2{
    font-family:monospace;
    font-weight: bolder;
    font-size: large;
    margin: 0;
    margin-left: 3%;
    margin-top: 2%;

}
form p{
    margin-left: 3%;
    font-family:monospace;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bolder;
    position: absolute;
    top: 74%;
    width: 100%;
}
form .backHome{
    margin-left: 3%;
    font-family:monospace;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bolder;
    position: absolute;
    top:78%;
    width: 100%;
}
#suc{
    position: absolute; 
    top: 75%; 
    left: 35%;
    color: rgb(21, 212, 21);
    font-family:monospace;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bolder; 
    margin-left: 1%;

}
#error{
    position: absolute; 
    top: 75%; 
    left: 35%;
    margin-left: 1%;
    color: #ff0000;
    font-family:monospace;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bolder; 
}
form a{
    text-decoration: underline;

}
form .submit{
    background-color: #03929c;
    position: absolute;
    cursor: pointer;
    top: 90%;
    left: 0;
    padding: 8px 0px;
    border: none;
    font-family:monospace;
    font-weight: bold;
    font-size: larger;
    border-radius: 20px;
    width: 93%;
    letter-spacing: 2px;
    z-index: 1;
    color: white;
    border-color: #03929c;
}
form .submit:hover{
    box-shadow: 0 0 5px #03929c,
    0 0 25px #03929c,
    0 0 50px #03929c,
    0 0 100px #03929c;
    color: black;

}
.bill-table, ul{
    position: absolute;
    left: 4%;
    /* border: 1px solid; */
}
/* .bill-table, th, td {
} */
ul li{
    /* list-style: none; */
    /* color: #03929c; */
    margin: 15px;
    font-family: monospace;
    font-size: 17px;
}

